@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins&display=swap");

body {
  font-family: "Dancing Script", cursive;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav,
footer {
  background-color: salmon;
  color: white;
}

.card-title {
  color: salmon;
  font-family: "Dancing Script", cursive;
  font-weight: bolder;
}

.card-body {
  font-family: "Poppins", sans-serif;
}

.card:hover {
  transform: scale(1.025);
  filter: contrast(125%);
}

.card {
  transition: 250ms ease-in;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.seccionPrincipal {
  flex-grow: 1;
}

@media (min-width: 577px) {
  .carousel-item {
    height: 18rem;
  }
  .carousel-item img {
    height: 100%;
    object-fit: cover;
  }
}

@media (min-width: 769px) {
  .carousel-item {
    height: 30rem;
  }
  .carousel-item img {
    height: 100%;
    object-fit: cover;
  }

  nav,
  footer {
    font-size: larger;
  }
}
